* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



footer {
  height: 100px;
  background-color: #282828;
}

main {
  height: calc(100vh - 100px);
  background-color: silver;
  display: flex;
}

#sidebar {
  width: 250px;
  background-color: black;
  height: 100%;
}

#sidebar .logo {
  padding: 20px;
  padding-right: 70px;
}

#content {
  height: 100%;
  width: calc(100vw - 250px);
  background-color: #141922;
  overflow-y: auto;
}

.header {
  height: 100px;
  background-color: #080B12;
  text-align: end;
  padding: 35px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-18 {
  width: calc(100% / 6);
  color: gray;
}

.col-20 {
  width: 20%;
  height: 100px;
}

.col-60 {
  width: 60%;
  height: 100px;
}

.menu ul li {
  color: gray;
  padding-top: 20px;
  list-style: none;
  padding: 20px;
}

.menu ul li i {
  font-size: 30px;
}

.menu ul li a {
  color: gray;
  text-decoration: none;
}

.menu ul li:hover {
  border-left: 2px solid #ADFF2F;
}

.menu ul li a:hover {
  color: white;
}

.container div a {
  text-decoration: none;
  color: gray;
}

.container div a:hover {
  color: white;
}

.playlist h2 {
  color: white;
  margin-top: 30px;
}

.playlist ul {
  color: gray;
}

.playlist ul i {
  color: black;
  background-color: gray;
  padding: 5px;
  font-size: 30px;
}

.playlist ul li {
  padding: 10px;
  list-style: none;
}

.playlist ul li a {
  color: gray;
  text-decoration: none;
}

.playlist ul li a:hover {
  color: white;
}

.playlist ul li a i:hover {
  background-color: white;
}

.header .btn {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 30px;
}

.header .btn:hover {
  font-size: 1.2rem;
}

.info-song i:hover {
  color: white;
}


.title {
  color: white;
}

.cover-song img {
  width: 80%;
}

.popular .cover-song img {
  border-radius: 50%;
}

.song-playing {
  width: 70px;
  float: left;
}

/* utility */
.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-gray {
  color: gray;
}

.gap-20 {
  gap: 20px;
}

.py-20 {
  padding: 20px 0;
}

.px-10 {
  padding: 0px 10px;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}

.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.player-controller-time {
  width: 100%;
  transform: translateY(50%);
}

.player-time {
  color: white;
}

.player-bar {
  width: 90%;
  background-color: gray;
  height: 5px;
  border-radius: 5px;
  margin: 0px 15px;
  position: relative;
}

.elapsed-time {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 20%;
  border-radius: 5px;
}

.controller-point {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.player-controller-time:hover .elapsed-time {
  background-color: #ADFF2F;
  cursor: pointer;
}

.player-controller-time:hover .controller-point {
  display: block;
}

.player-controller-song a {
  color: white;
  margin: 0px 10px;
}

.player-controller-song .fa-circle-play {
  font-size: 2rem;
}

.volume-bar {
  width: 50%;
  background-color: gray;
  height: 5px;
  border-radius: 5px;
  margin: 0px 15px;
  position: relative;
}

.elapsed-volume {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 20%;
  border-radius: 5px;
}

.footer-menu a {
  color: white;
  margin: 0px 10px;
}

.head-sidebar {
  height: calc(100% - 100px);
}

.footer-sidebar {
  height: 100px;
}

.footer-sidebar a {
  text-decoration: none;
  color: gray;
  padding-left: 20px;
}

.footer-sidebar hr {
  margin: 20px 20px;

}

.footer-sidebar .profile {
  color: white;
  padding-left: 20px;
  font-size: 1.5rem;
}

.cover-song {
  position: relative;
}

.overlay {
  font-size: 60px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: 0.3s;
}

.cover-song:hover .overlay {
  opacity: 1;
  cursor: pointer;
}